/*** GENERICS ***/

h2 {
    font-size: 2.5rem;
}

/*** UTILITIES ***/

.ms-bg-dark {
    background-color: #000000;
}

.ms-bg-grey {
    background-color: #1f1f1f;
}

.ms-bg-light-grey {
    background-color: #bebcbb;
}

.ms-bg-light {
    background-color: #ffff;
}

.ms-bg-dark-blue {
    background-color: #161c3b;
}

.ms-bg-primary {
    background-color: #00439c;
}

.ms-btn-danger {
    background-color: #CB3C0B;
    color: white;
}

.ms-rounded-button {
    border-radius: 3rem;
}

.ms-rounded-3 {
    border-radius: 1rem;
}

.ms-pt-5 {
    padding-top: 13rem;
}

.ms-btn-secondary {
    background-color: #d9dadc;
    color: #4071e4;
}

/*** CONTENT ***/

/* jumbotron */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

/* jumbotron 2 */
#jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}